# Ignore everything by default
/*

# Локальные инструкции и скрипты деплоя (не в репозиторий)
/deploy/

# Keep gitignore itself
!/.gitignore

# Allow traversing into wp-content/themes/yoga only
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/yoga/
!/wp-content/themes/yoga/**

# Must-use plugins shipped with the project
!/wp-content/mu-plugins/
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/rest-no-store-cache.php

# Allow tracking a targeted hotfix in Yandex Metrika plugin
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/wp-yandex-metrika/
/wp-content/plugins/wp-yandex-metrika/*
!/wp-content/plugins/wp-yandex-metrika/includes/
/wp-content/plugins/wp-yandex-metrika/includes/*
!/wp-content/plugins/wp-yandex-metrika/includes/class.ya-metrika-woocommerce.php

# Custom plugin: tariff auto-renewal (YooKassa)
!/wp-content/plugins/yoga-tariff-renewal/
!/wp-content/plugins/yoga-tariff-renewal/**

# Custom plugin: Yoga Subscribers
!/wp-content/plugins/yoga-subscribers/
!/wp-content/plugins/yoga-subscribers/**

# Custom plugin: Kundalini Sadhanas
!/wp-content/plugins/kundalini-sadhanas/
!/wp-content/plugins/kundalini-sadhanas/**

# Custom plugin: VK ID authentication
!/wp-content/plugins/vkid-login/
!/wp-content/plugins/vkid-login/**
