# Ignore everything by default
/*

# Keep gitignore itself
!/.gitignore

# Allow traversing into wp-content/themes/yoga only
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/yoga/
!/wp-content/themes/yoga/**
