/* Modal-filter */
.modal-filter {
  display: none !important;
}

@media (max-width: 1024px) {
  .modal-filter {
    display: flex !important;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow: hidden;
    width: 0%;
    height: 100%;
    pointer-events: none;
    z-index: 21;
    transition: 0.4s ease;
  }
  .modal-filter.active {
    width: 100%;
  }
  .modal-filter.active .modal-filter-inner {
    width: 33.75rem;    opacity: 1;
  }
  .modal-filter .modal-close {
    z-index: 3;
    top: 0.75rem;    right: 1.25rem;    background: var(--color-green);
  }
  .modal-filter-inner {
    margin-left: auto;
    position: relative;
    width: 0px;
    min-width: 22.5rem;    max-width: 100%;
    border-top-left-radius: 3.125rem;    border-bottom-left-radius: 3.125rem;    background: #fff;
    padding-top: 0px;
    pointer-events: auto;
    overflow: hidden;
    transition: 0.4s ease;
    opacity: 0;
  }
  .filter-mob {
    position: relative;
    overflow-y: auto;
    max-height: calc(100vh - 1.875rem);    scrollbar-width: thin;
    scrollbar-color: var(--color-violet) #E8E8E8;
    padding-top: 3.5rem;    padding-bottom: 0px;
    padding-left: 2.5rem;    padding-right: 2.5rem;    width: 100%;
  }
  .filter-mob-item {
    display: block;
    width: 100%;
    margin-top: 2rem;  }
  .filter-mob-item h5 {
    padding-bottom: 0.125rem;  }
  .filter-mob-item .checkbox-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 0.75rem;    cursor: pointer;
  }
  .filter-mob-item .checkbox-item .checkbox {
    pointer-events: none;
  }
  .filter-mob-item .checkbox-item .checkbox.active {
    border-color: var(--color-violet);
    background: var(--color-violet);
  }
  .filter-mob-item .checkbox-item .checkbox.active::before {
    background: url(../../img/checkbox-arrow_white.png) no-repeat center center/100% auto;
  }
  .filter-mob-item .checkbox-item span {
    display: block;
    padding-left: 0.75rem;    width: calc(100% - 1.25rem);    font-size: 1rem;    padding-top: 0.1875rem;    transition: 0.4s ease;
  }
  .filter-mob-item .checkbox-item:hover span {
    color: var(--color-violet);
  }
  .filter-mob-item .checkbox {
    width: 1.25rem;    height: 1.25rem;  }
  .filter-mob-item .checkbox::before {
    width: 0.6875rem;  }
  .filter-mob-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.5rem;  }
  .filter-mob-buttons .btn {
    height: 3.25rem;    line-height: 3.25rem;    background: var(--color-black) !important;
  }
  .filter-mob-buttons .btn span {
    font-size: 1rem;    color: #fff !important;
  }
  .filter-mob-buttons .form-reset {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6875rem;    opacity: 1 !important;
    pointer-events: auto !important;
  }
  #filt-mob-btn, #filt-mob-reset {
    position: absolute !important;
    opacity: 0 !important;
    z-index: -10 !important;
    max-width: 1px;
    max-height: 1px;
    overflow: hidden !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
}
@media (max-width: 575px) {
  .modal-filter .modal-close {
    right: 0.625rem;  }
  .filter-mob {
    max-height: calc(100vh - 1.25rem);  }
  .modal-filter.active .modal-filter-inner {
    width: calc(100vw - 2.5rem);  }
  .modal-filter-inner {
    min-width: 18.75rem;    border-top-left-radius: 1.875rem;    border-bottom-left-radius: 1.875rem;  }
  .filter-mob {
    padding-bottom: 1.25rem;    padding-top: 3.625rem;    padding-left: 1.25rem;    padding-right: 1.25rem;  }
}
