/**
 * Стили компонента: utilities.
 *
 * @package Yoga
 */
.spinner {
    width: 1.25rem;    height: 1.25rem;    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lk-settings-part .subscribe-cta p{
  margin-bottom: 1.25rem;}

