/**
 * Стили компонента: modals.
 *
 * @package Yoga
 */

.overlay {
  position: absolute;
  width: 0vw;
  height: 0%;
  left: 0px;
  top: 0px;
  background: var(--color-black);
  opacity: 0;
  z-index: -2;
  transition: opacity 0.4s ease;
}

.overlay-modal {
  position: absolute;
  width: 0vw;
  height: 0%;
  left: 0px;
  top: 0px;
  background: var(--color-black);
  opacity: 0.15;
  z-index: -2;
  transition: opacity 0.4s ease;
}

.overlay.active {
  cursor: pointer;
  left: 0px;
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.15;
  z-index: 20;
  transition: opacity 0.4s ease;
}

.overlay__close {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-right: -0.1875rem;  top: 0.1875rem;  font-size: 3.75rem;  line-height: 1em;
  color: var(--color-green);
  z-index: 30;
  position: fixed;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.overlay__close:hover {
  transition: all 0.4s ease-in-out;
}

.modal {
  position: absolute;
  width: 0vw;
  height: 0%;
  left: -624.9375rem;  top: 0%;
  transform: translate(-50%, 0%);
  opacity: 0;
  z-index: -2;
  border-radius: 1.875rem;}
.modal .modal-close {
  background: var(--color-green);
  top: 1.8125rem;  right: 1.875rem;}

.modal.active {
  position: fixed;
  width: 36.875rem;  max-width: calc(100% - 1.875rem);  background: #fff;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 101;
  transition: opacity 0.4s ease;
}

.review-modal {
  display: block;
  width: 100%;
  padding: 1.875rem;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-bottom: 1.875rem;}

.review-modal__main {
  width: 100%;
  display: flex;
  align-items: center;
}

.review-modal__main-image {
  display: flex;
  position: relative;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 3.125rem;  height: 3.125rem;  background: var(--color-green);
  background: linear-gradient(135deg, var(--color-green) 0%, var(--color-violet) 100%);
}
.review-modal__main-image img {
  display: block;
  width: 2.6875rem;  height: 2.6875rem;  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.review-modal__main-info {
  width: calc(100% - 3.125rem);  padding-left: 0.625rem;  padding-right: 5rem;  padding-bottom: 0.125rem;}

.review-modal__main-info-text {
  display: block;
}
.review-modal__main-info-text span {
  display: inline-block;
  position: relative;
}

.review-modal-name {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;}

.review-modal-age {
  font-size: 0.875rem;  top: -0.125rem;  left: -1px;
}

.review-modal-job {
  display: inline-block;
  font-size: 0.75rem;  padding: 0.5625rem;  padding-top: 0.2812rem;  padding-bottom: 0.2812rem;  border: 1px solid var(--color-black);
  border-radius: 6.25rem;  margin-top: 0.25rem;}

.review-modal__text {
  display: block;
  width: 100%;
  padding-right: 1.25rem;  margin-top: 2.0625rem;  max-height: calc(100vh - 12.5rem);  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-violet) #E8E8E8;
}
.review-modal__text p {
  display: block;
  margin-bottom: 1.625rem;  font-size: 1.125rem;  line-height: 1.51em;
}

@media (max-width: 1319px) {
  .review-modal {
    padding-top: 1.875rem;    padding-left: 1.875rem;    padding-bottom: 1.875rem;  }
  .review-modal__text {
    margin-top: 1.375rem;    max-height: calc(100vh - 8.75rem);  }
  .review-modal__text p {
    margin-bottom: 0.9375rem;    line-height: 1.45em;
  }
}
@media (max-width: 575px) {
  .modal {
    width: 100%;
    max-width: none;
    bottom: 0px;
    top: auto;
    transform: translate(-50%, 0%);
    border-radius: 1.875rem;    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .modal.active {
    width: 100%;
    max-width: none;
    bottom: 0px;
    top: auto;
    transform: translate(-50%, 0%);
  }
  .modal .modal-close {
    display: none;
  }
  .review-modal {
    padding-left: 1.875rem;    padding-right: 0.75rem;    padding-top: 1.875rem;    padding-bottom: 1.875rem;  }
  .review-modal__text {
    max-height: calc(100vh - 18.125rem);    padding-right: 1.875rem;    margin-top: 2rem;  }
  .review-modal__text p {
    margin-bottom: 1.25rem;    font-size: 1rem;    letter-spacing: 0.01em;
    line-height: 1.26em;
  }
}
