/* Section-popular-articles */
.section-popular-articles {
  padding-bottom: 5.625rem;}

.popular-articles {
  width: 100%;
}

.popular-articles__intro {
  width: 100%;
  position: relative;
  padding-top: 0px !important;
}
.popular-articles__intro h3 {
  color: #000;
}
.popular-articles__intro .arrows-slick {
  bottom: auto;
}

.popular-articles__media {
  width: 100%;
  margin-top: 0.875rem;}

.popular-articles-slider {
  width: 100%;
  min-width: 100%;
  margin-left: 0;
  padding-bottom: 2.5rem;}
.popular-articles-slider .slick-list {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.popular-articles-slider .slick-slide {
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.popular-articles-slider .slick-dots {
  left: var(--container-inline-gutter, 0.625rem);
  right: var(--container-inline-gutter, 0.625rem);
  transform: none;
  text-align: center;
}
.popular-articles-slider .blog-article-item {
  margin-left: 0;
  margin-right: 0;}
.section-popular-articles .blog-article-item__image {
  height: 14.1875rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.section-popular-articles .blog-article-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.25rem;
}

.popular-articles__media-more {
  display: none;
}

@media (max-width: 1320px) {
  .section-popular-articles {
    padding-bottom: 3.75rem;  }
  .popular-articles-slider {
    padding-bottom: 1.875rem;  }
  .popular-articles__media {
    margin-top: 0.5rem;  }
}
@media (max-width: 575px) {
  .section-popular-articles {
    padding-bottom: 5rem;  }
  .popular-articles__media {
    margin-top: 0px;
    padding-top: 0.5rem;  }
  .popular-articles__intro .arrows-slick {
    display: none;
  }
  .popular-articles-slider {
    width: 100%;
    min-width: 100%;
    margin-left: 0px;
    padding-bottom: 0px;
  }
  .popular-articles-slider .blog-article-item {
    margin-left: 0px;
    margin-right: 0px;
  }
  .popular-articles__media-more {
    display: flex;
  }
}
