/* Section-tariffs */
.section-tariffs.section-tariffs_single {
  padding-top: 0.625rem;  padding-bottom: 7.5rem;}

.tariffs {
  width: 100%;
}

.switches {
  display: inline-flex;
  margin-top: 1.5rem;  border-radius: 6.25rem;  padding: 0.4375rem;  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #E8E8E8;
}

.switches-item {
  position: relative;
  padding: 1.5625rem;  padding-top: 0.875rem;  padding-bottom: 0.8125rem;  border-radius: 6.25rem;  cursor: pointer;
  transition: 0.4s ease;
}
.switches-item span {
  display: block;
  font-size: 1.125rem;}
.switches-item.active {
  background: var(--color-green);
}

.tariffs-items {
  display: block;
  position: relative;
  width: 100%;
}

.tariffs-items__slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.tariffs-items__slide.active {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.tariff {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc((100% - 3.75rem) / 4);  min-height: 100%;
  margin-top: 1.3125rem;  padding: 1.5625rem;  padding-top: 2.375rem;  padding-bottom: 2.5rem;  border-radius: 1.875rem;  background: transparent;
  overflow: hidden;
}
.tariff > * {
  position: relative;
  z-index: 2;
}
.tariff p {
  font-size: 0.875rem;  line-height: 1.28em;
  margin-top: 0.5rem;}
.tariff .check-list {
  padding-bottom: 1.5625rem;}
.tariff .btn {
  height: 3.75rem;  line-height: 3.75rem;  margin-top: auto;
  padding-right: 3.875rem;
  white-space: nowrap;}
.tariff .btn span {
  font-size: 0.875rem;  text-transform: uppercase;
  white-space: nowrap;
}
.tariff .btn-icon {
  width: 1.9375rem;  height: 1.9375rem;}
.tariff .btn-icon img {
  width: 0.9375rem;}
.tariff .btn-icon svg {
  width: 0.9375rem;  height: 0.9375rem;}
.tariff form.cart {
  margin-top: auto;
}

.tariff-price {
  margin-top: 0px;
}
.tariff-price span {
  color: #4A4A4A;
}
.tariff-price b {
  font-family: "Mulish-Bold", sans-serif;
  color: var(--color-black);
  font-size: 2.5rem;  padding-right: 0.125rem;}

.check-list {
  padding-top: 0.75rem;}
.check-list li {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-top: 0.625rem;
  color: var(--color-black);
}
.check-list__icon {
  display: inline-flex;
  width: 0.9375rem;
  height: 1.25rem;
  color: #1F1F1F;
  flex-shrink: 0;
}
.check-list__icon svg {
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  margin-top: 0.3125rem;
}
.check-list__text {
  display: block;
}

.tariff__bg {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}
.tariff_visual_1 .tariff__bg {
  background: url(../../svg/tariff-card-1-bg.svg) no-repeat center center/100% 100%;
}
.tariff_visual_3 .tariff__bg {
  background: url(../../svg/tariff-card-3-bg.svg) no-repeat center center/100% 100%;
}
.tariff_visual_1 .tariff__bg::after,
.tariff_visual_2 .tariff__bg::after,
.tariff_visual_3 .tariff__bg::after {
  content: "";
  position: absolute;
  width: 3.1875rem;
  height: 3.1875rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tariff_visual_1 .tariff__bg::after {
  left: 3.25rem;
  top: 25.78125rem;
  background-image: url(../../svg/tariff-star-1.svg);
  background-size: 2.00929375rem 1.96223125rem;
}
.tariff_visual_2 {
  background: rgba(145, 83, 225, 0.07);
  border: 0.1875rem solid var(--color-violet);
}
.tariff_visual_4 {
  background: #F6F6F9;
}
.tariff_visual_2 .tariff__bg::after {
  right: 5.1875rem;
  top: 29.3125rem;
  background-image: url(../../svg/tariff-star-2.svg);
  background-size: 2.02303125rem 1.76838125rem;
}
.tariff_visual_2 .check-list__icon {
  color: #9153E1;
}
.tariff_visual_3 .tariff__bg::after {
  left: 1.9375rem;
  top: 8.5625rem;
  background-image: url(../../svg/tariff-star-3.svg);
  background-size: 2.1310375rem 2.1310375rem;
}

.tariff__top {
  position: relative;
  z-index: 2;
  min-height: 0px;
}

.tariff__center {
  position: relative;
  z-index: 2;
  margin-top: 1.5rem;
}

@media (max-width: 1320px) {
  .section-tariffs.section-tariffs_single {
    padding-bottom: 5.625rem;  }
  .tariff {
    width: calc((100% - 3.75rem) / 4);    margin-top: 1.3125rem;    padding: 1.25rem;    padding-top: 1.625rem;    padding-bottom: 1.75rem;  }
  .tariff .check-list {
    padding-bottom: 1.25rem;  }
  .tariff .btn span {
    font-size: 0.8125rem;  }
  .check-list {
    padding-top: 0.25rem;  }
}
@media (max-width: 1199px) {
  .tariffs-items__slide {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tariff {
    width: calc((100% - 3.75rem) / 2);    max-width: 23.75rem;    margin-left: 0.625rem;    margin-right: 0.625rem;    background: #F6F6F9;  }
  .tariff__bg {
    display: none;
  }
  .tariff .btn-icon {
    right: calc(50% - 5.9375rem);  }
  .tariff__top {
    min-height: 0px;  }
}
@media (max-width: 991px) {
  .switches {
    padding: 0px;
    margin-top: 2rem;  }
  .switches-item {
    min-width: 10rem;    text-align: center;
  }
}
@media (max-width: 767px) {
  .tariff {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;    max-width: 100%;
    min-height: 100%;
    padding-top: 1.75rem;  }
  .tariff .check-list {
    padding-top: 0.375rem;    padding-bottom: 2rem;  }
  .tariff__top {
    min-height: auto;
  }
}
@media (max-width: 575px) {
  .section-tariffs.section-tariffs_single {
    padding-top: 0px;
    padding-bottom: 5rem;  }
  .section-tariffs.section-tariffs_single .switches {
    margin-top: 1.375rem;  }
  .switches {
    width: 100%;
  }
  .switches-item {
    width: 50%;
    min-width: auto;
    padding-top: 0.75rem;    padding-bottom: 0.6875rem;  }
  .switches-item span {
    font-size: 1rem;  }
}
