

@font-face {
  font-family: "Mulish-Regular";
  src: url("../fonts/mulish/Mulish-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mulish/Mulish-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Italic";
  src: url("../fonts/mulish/Mulish-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mulish/Mulish-Italic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-MediumItalic";
  src: url("../fonts/mulish/Mulish-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mulish/Mulish-MediumItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Mulish-Medium";
  src: url("../fonts/mulish/Mulish-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mulish/Mulish-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-SemiBoldItalic";
  src: url("../fonts/mulish/Mulish-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mulish/Mulish-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Mulish-SemiBold";
  src: url("../fonts/mulish/Mulish-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mulish/Mulish-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Mulish-BoldItalic";
  src: url("../fonts/mulish/Mulish-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/mulish/Mulish-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Mulish-Bold";
  src: url("../fonts/mulish/Mulish-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/mulish/Mulish-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/mulish/Mulish-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/mulish/Mulish-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/mulish/Mulish-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/mulish/Mulish-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}







