/**
 * Стили компонента: mulish.
 *
 * @package Yoga
 */
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariableFont_wght.woff2") format("woff2");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

@supports (-webkit-touch-callout: none) {
  @font-face {
    font-family: "Mulish iOS";
    src: url("../fonts/mulish/Mulish-Regular.woff") format("woff"), url("../fonts/mulish/Mulish-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Mulish iOS";
    src: url("../fonts/mulish/Mulish-Medium.woff") format("woff"), url("../fonts/mulish/Mulish-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Mulish iOS";
    src: url("../fonts/mulish/Mulish-SemiBold.woff") format("woff"), url("../fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Mulish iOS";
    src: url("../fonts/mulish/Mulish-Bold.woff") format("woff"), url("../fonts/mulish/Mulish-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body,
  body button,
  body input,
  body select,
  body textarea,
  body * {
    font-family: "Mulish iOS", sans-serif !important;
  }
}
